.chat { display: flex; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 16rem);
  height: 100vh; }

@media (max-width: 800px) 
{
  .content { width: 100%; }
}