.li {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.li div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .3rem;
  border-radius: 3px;
  color: #FFFFFF; }

.li .total {
  background: none;
  color: #00FF80;
  font-size: 1.1rem; }