.menu {
  background-color: #070719;
  height: 100vh;
  width: 16rem;
  overflow: auto; }

.menu h1 { color: #BDBDBD; }

.menu header { padding: 1rem .5rem; }

.menu section header { padding-bottom: .5rem; }

.menu section ul li { padding: .25rem .5rem; }

.menu section ul li:hover { background-color: #0A0A2A; }

#logo h1 {
  padding: .5rem 2rem;
  border-radius: 2rem;
  color: #FFFFFF;
  border: 1.5px solid #0A0A2A;
  font-weight: bold;
  color: #964ba2;
  width: 100%;
  text-align: center;
  font-size: 1.1rem; }

#logo h1 span {
  color: #367eea;
  font-weight: bold; }

@media (max-width: 800px) 
{
  .menu { display: none; }
}