/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  word-wrap: break-word;
  text-decoration: none;
  list-style: none; }

  body {
    background-color: #FAFAFA; }