.text-box {
  margin: 5px 0; 
  word-break: break-all; }

.text-box div {
  display: inline-block;
  border-radius: 1rem;
  padding: .6rem;
  font-size: .9rem;
  width: auto !important; }

.text-box div h1 {
  font-weight: bold; }

.sender {
  text-align: right; }