.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid #E6E6E6; }

.chat-header h1 span { font-weight: bold; }

.chat-header div {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.chat-header div span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E6E6;
  border-radius: 100%;
  padding: .5rem;
  margin: 0 .5rem; }